body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: lightpink;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 500px;
    height: 250px;
    background-color: white;
    border-radius: 10px;
    position: relative;

}

.image {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -50px;
    left: 190px;
}

.image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.container p {
    margin-top: 80px;
    padding: 8px;
    font-size: 15px;
    font-family: cursive;
    text-align: center;
}

.container h2 {
    text-align: center;
    font-family: cursive;
}